<!-- subscription_success.html -->
{% extends "main_app/base.html" %}

{% block title %}Suscripción Exitosa - HazCuentas{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="text-center font-weight-bold">¡Felicidades!</h2>
        <p class="text-center lead mb-5">Tu suscripción ha sido procesada exitosamente. ¡Gracias por elegirnos!</p>
        <div class="text-center">
            <a href="/" class="btn btn-primary btn-lg">Regresar al inicio</a>
        </div>
    </div>
</section>
{% endblock %}
